<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server_authentication" value="HTTP_basic"/>
    <add key="client_id" value=""/>
    <add key="client_key" value=""/>
    <add key="path_to_client" value="coolcalc/client/"/>
    <add key="rest_api_server" value="stagingapi.coolcalc.com"/>
    <add key="mj8_report_url" value="https://stagingapi.coolcalc.com/staging/MJ8Reports/?reportId="/>
  </appSettings>
  <!-- 
  Rewrite rule for coolcalc-api. 
  -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite API">
          <match url="^coolcalc/client/staging/dealers/*"/>
          <action type="Rewrite" url="/coolcalc/client/staging/dealers.ashx"/>
        </rule>
        <rule name="Rewrite MJ8eports">
          <match url="^coolcalc/client/staging/MJ8Reports/*"/>
          <action type="Rewrite" url="/coolcalc/client/staging/MJ8Reports.ashx"/>
        </rule>
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>
    <!--<customErrors mode="Off"/>-->
    <defaultDocument>
      <files>
        <add value="coolcalc/ui/mj8/v-bootstrap/staging/restui.html"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="SimpleHandlerFactory-Integrated-4.0"/>
      <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="false"/>
  </system.web>
</configuration>